*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    /* background: url('/images/5709.jpg'); */
}
.wrap{
    max-width: 1170px;
    margin: 0 auto; 
}
header{
    text-align: center;
    border-bottom: 1px solid;
}
nav{
    margin-top: 10px;
    min-height: 500px;
 }
 nav ul{
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    
}
nav li a{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid;
    cursor: pointer;
    position: relative;
}
nav li a:hover,nav li>a.active{
    font-weight: bold;
    text-decoration: none;
}
/*



main{
    float: right;
    width: 80%;
    padding: 10px 20px;
}
.conv{
    display: block;
}
.conv .user_name,.conv .avatar{
    display: inline-block;
} */
